node_modules
.vscode
.idea
yarn-error.log
generated
.DS_Store
*.js

!sign/io-sign.js

# Terraform


.identity/.terraform

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

**/.tfsec/*
