name: Publish on CDN

on:
  push:
    branches:
      - master
    paths-ignore:
      - "CODEOWNERS"
      - "**.md"
      - ".**"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:

  publish:
    name: Publish to production
    runs-on: ubuntu-22.04
    environment: prod-cd
    permissions:
      id-token: write
      pull-requests: write
    env:
      EXCLUDED_PATTERN: 'README.md;CODEOWNERS;yarn.lock;package.json;.node-version;.nvmrc;jest.config.js;tsconfig.json;tslint.json;definitions;.circleci;services-webview;.gitignore;.eslintignore;.prettierrc.js;'
      EXCLUDED_PATH: 'src;.git;.github;.identity;'
      STORAGE_ACCOUNT_NAME: 'iopstcdnassets'
      CDN_PROFILE_NAME: 'io-p-assets-cdn-profile'
      CDN_ENDPOINT: 'io-p-assets-cdn-endpoint'
      CDN_RESOURCE_GROUP: 'io-p-assets-cdn-rg'

    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Azure Login
        id: az_login
        uses: azure/login@a65d910e8af852a8061c627c456678983e180302
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_CD }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Upload to blob storage
        id: storage_upload
        run: |
            container='$web'

            az storage copy \
              --account-name "$STORAGE_ACCOUNT_NAME" \
              --destination-container $container \
              --source './*' \
              --exclude-pattern "$EXCLUDED_PATTERN" \
              --exclude-path "$EXCLUDED_PATH" \
              --recursive
     
      - name: Purge CDN endpoint
        with:
          inlineScript: |
            az cdn endpoint purge \
              --content-paths '/*' \
              --profile-name "$CDN_PROFILE_NAME" \
              --name "$CDN_ENDPOINT" \
              --resource-group "$CDN_RESOURCE_GROUP"

      - name: Azure Logout
        id: az_logout
        if: always()
        run: |
          az logout
